* {
    box-sizing: border-box;
}

:root {
    --font-heading: Sen, sans-serif;
    --primary-color: #ffb900;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    padding: 0 16px;
    line-height: 50px;
    min-width: 118px;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    color: #ffffff;
    background: #171100;
    border-radius: 999px;
}

.btn:hover {
    opacity: 0.9;
}

.heading {
    font-family: var(--font-heading);
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #171100;
}

.heading.lv1 {
    font-size: 5.8rem;
    line-height: 1.17;
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 1.26;
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 1.26;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.break-all {
    word-break: break-all;
}

/* Header */
.header {
    background-color: #fffcf4;
}

header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .navbar {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    padding: 8px 21px;
    font-size: 1.6rem;
    color: #171100;
}

.nav a:hover,
.nav li.active a {
    position: relative;
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
    font-size: 1.6rem;
    color: #171100;
}

.nav li.active a::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 21px;
    bottom: 6px;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
}

.navbar .action-link {
    min-width: 144px;
}

.navbar .action {
    margin-left: 49px;
}

/* Hero */
.hero {
    padding-top: 56px;
    padding-bottom: 65px;
    background: #fffcf4;
}

.hero .body {
    display: flex;
}

/* Hero Left */
.hero .media-block {
    position: relative;
    width: 48%;
}

.hero .media-block .hero-img {
    display: block;
    width: 470px;
    height: 685px;
    /* thuộc tính không bị méo ảnh */
    object-fit: cover;
    border-radius: 20px;
}

.hero-summary {
    position: absolute;
    right: 0;
    bottom: 48px;
    width: 270px;
    padding: 24px;
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.hero .hero-summary .item {
    display: flex;
    align-items: center;
}

.hero .hero-summary .item + .item {
    margin-top: 16px;
}

.hero-summary .item .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background: #fff9e8;
    border-radius: 50%;
}

.hero .hero-summary .item:nth-child(2) .icon {
    background: #fcefff;
}

.hero .hero-summary .item:nth-child(3) .icon {
    background: #ebeaff;
}

.hero-summary .item .info {
    margin-left: 16px;
}

.hero-summary .item .label {
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.hero-summary .item .title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

/* Hero Right */
.hero .content-block {
    width: 52%;
    padding-left: 130px;
    padding-top: 64px;
}

.content-block .desc {
    margin-top: 22px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.content-block .cta-group {
    display: flex;
    align-items: center;
    margin: 38px 0 48px;
}

.content-block .cta-group .hero-cta {
    min-width: 180px;
    background: var(--primary-color);
    line-height: 60px;
}

.content-block .cta-group .watch-video {
    display: flex;
    margin-left: 28px;
    align-items: center;
    border: none;
    background-color: #fffcf4;
    cursor: pointer;
}

.content-block .watch-video .icon {
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 14px;
    border-radius: 50%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.content-block .watch-video span {
    margin-left: 14px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.content-block .stats strong {
    padding-right: 8px;
    padding-left: 28px;
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;
    color: #171100;
}

/* Cách 1: khoảng cách giữa 2 phần Stats*/
/* .content-block .stats strong + strong {
    padding-left: 28px; 
} */

/* Cách 2 */
.content-block .stats {
    margin-top: 8px;
    margin-left: -28px;
}

/* Popular */
.popular {
    margin-top: 135px;
    padding: 65px 0;
}

.popular .popular-top .desc {
    width: 456px;
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .controls {
    display: flex;
    gap: 18px;
}

.popular .controls .control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: var(--primary-color);
    background-color: transparent;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    cursor: pointer;
}

.popular .controls .control-btn:hover {
    background: var(--primary-color);
    color: #fff;
}

.popular .course-list {
    display: flex;
    margin-top: 55px;
    gap: 30px;
}

.popular .course-item {
    flex: 1;
    background: #ffffff;
    border: 1px solid #e2dfda;
    border-radius: 12px;
}

.popular .course-item:hover {
    border-color: transparent;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
}

.popular .course-item .thumb {
    margin: -1px;
    width: calc(100% + 2px);
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.popular .info .foot,
.course-list .info .head .rating,
.popular .info .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular .course-item .info {
    padding: 16px 22px 22px;
}

.popular .info .head .title a {
    padding-right: 9px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.67;
    color: #171100;
}

.popular .rating .value {
    margin-left: 6px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #fea31b;
}

.popular .course-list .info .desc {
    margin-top: 6px;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.popular .info .foot {
    margin-top: 12px;
}
.popular .info .foot .price {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.popular .info .foot .book-btn {
    font-size: 1.4rem;
}

.popular .info .foot .book-btn:hover {
    background: var(--primary-color);
}

/* Feedback */
.feedback {
    margin-top: 135px;
    padding: 96px;
    background: #2e2100;
}

.feedback .feedback-item {
    display: flex;
}

.feedback .info .avatar {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 50%;
}

.feedback .info .title {
    font-family: var(--font-heading);
    margin-top: 18px;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.42;
    color: #f7f7f7;
}

.feedback .info .desc {
    margin-top: 4px;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb3;
}

.feedback .info .dots {
    display: flex;
    margin-top: 28px;
    cursor: pointer;
}

.feedback .info .dots .dot {
    margin-right: 6px;
    width: 6px;
    height: 6px;
    background: #634700;
    border-radius: 50%;
}

.feedback .info .dots .dot.active {
    background: #ffb900;
    cursor: default;
}

.feedback .feedback-item .content {
    width: 66%;
    margin-left: auto;
}

.feedback-item blockquote {
    margin-left: 30px;
    font-style: italic;
    font-size: 2.6rem;
    line-height: 1.54;
    color: #ffffff;
}

/* Features */
.features {
    margin-top: 135px;
    padding: 65px 0;
}

.features .body {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.features .body .images {
    display: flex;
    gap: 0 30px;
}

.features .images img {
    width: 207px;
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
}

.features .images img.lower {
    margin-top: 34px;
}

.features .content {
    width: 41%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.features .content .desc {
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5f5b53;
}

.features .content .cta-btn {
    margin-top: 32px;
    color: #fff;
    background: var(--primary-color);
}

/* Features 2 */
.features-2nd {
    margin-top: 70px;
}

.features-2nd .body {
    flex-direction: row-reverse;
}

.features-2nd .body .content {
    width: 49%;
}

.features-2nd .images img {
    width: 470px;
    height: 440px;
}

/* Blog */
.blog {
    margin-top: 135px;
    padding: 96px 0;
    background: #fffcf4;
}

.blog .blog-top {
    text-align: center;
}

.blog .blog-top .desc {
    margin: 16px auto 0;
    width: 448px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #696262;
}

.blog .blog-list {
    display: flex;
    gap: 30px;
    margin-top: 55px;
    overflow: hidden;
}

.blog .blog-list .item {
    flex-shrink: 0;
    width: calc(33.33% - 20px);
    background: #ffffff;
    border-radius: 16px;
}

.blog .blog-list .item:hover {
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
}

.blog .blog-list .thumb {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}

.blog .blog-list .info {
    padding: 20px 20px 28px 20px;
}

.blog .blog-list .date {
    position: relative;
    display: inline-flex;
    align-items: center;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
    padding-bottom: 12px;
}

.blog .blog-list .date::before {
    content: "";
    display: inline-block;
    margin-right: 4px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.blog .blog-list .date::after {
    content: "";
    display: inline-block;
    right: -27px;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #E2DFDA;
    border-radius: 0.5px;
}

.blog .blog-list .title a {
    display: inline-block;
    margin-top: 12px;
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #171100;
}

.blog .blog-list .btn {
    font-size: 1.4rem;
}

.blog .blog-list .btn:hover {
    color: #fff;
    background-color: var(--primary-color);
}

.blog .dots {
    display: flex;
    gap: 6px;
    margin-top: 38px;
    justify-content: center;
}

.blog .dot {
    width: 6px;
    height: 6px;
    background: #5F5B53;
    border-radius: 50%;
    cursor: pointer;
}

.blog .dot.active {
    background: var(--primary-color);
    cursor: default;
}

/* Footer */
.footer {
    padding: 96px 135px 0;
    background: #2E2100;
}